@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color-scheme: dark;
}

#root {
  width: 100%;
}
